/*
   martes 24 de enero de 201705:48:12 p.m.
   User: 
   Server: CORRALES-MENA\ROBERTO
   Database: gap-super_zapatos
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.stores SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.articles ADD CONSTRAINT
	FK_articles_stores FOREIGN KEY
	(
	id
	) REFERENCES dbo.stores
	(
	id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.articles SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
